
@media (max-width:1230px) {
    .nav__link {
        margin-left: 30px;
    }
    
    .about {
        padding: 0;
    }
    .about__title {
        line-height: 55px;
    }
}

@media (max-width:990px) {

    .nav {
        display: none;
    }
    .conteiner {
        width: 85%;
    }

    .intro__title {
        font-size: 106px;
    }

    .intro__subtitle {
        font-size: 24px;
        text-shadow: 3px 3px #292a35;
    }

    .сompany__text {
        width: 95%;
        font-size: 21px;
        line-height: 29px;
    }

    .featured {
        margin-bottom: 26px;
    }

    .footer {
        height: 65px;
    }
    .footer__inner{
        width: 85%;
    }
}


@media(max-width:770px){

    .conteiner {
        width: 95%;
    }

    .header {
        margin: 26px 0 11px 0;
    }

    .logo {
        width: 215px;
    }

    .logo__text {
        font-size: 2.1em;
    }

    .intro {
        height: 50vh;
    }

    .arrow {
        width: 30px;
        height: 45px;
    }
    
    .arrow__img {
        width: 20px;
        height: 25px;
    }

    .сompany__text {
        width: 100%;
        font-size: 17px;
        line-height: 26px;
    }

    .about__title {
        line-height: 40px;
        font-size: 29px;
    }

    .about__text {
        font-size: 12px;
        line-height: 21px;
    }

    .about__link {
        bottom: -27px;
    }

    .link-about__text {
        font-size: 12px;
    }

    .about__link:hover .link-about__text {
        font-size: 13px;
    }


    .featured {
        margin-bottom: 20px;
    }
    .featured__text {
        font-size: 18px;
    }

    .partners__item {
        padding: 8px 15px;
    }

    .footer{
        height: 45px;
    }
    .footer__inner {
        width: 95%;
    }

    .footer__text {
        font-size: 12px;
    }
    .footer__text > p {
        font-size: 15px;
    }

    .social-footer__item {
        width: 22px;
        height: 22px;
        margin-left: 7px;
    }
}

@media (max-width: 575px) {

    .logo {
        width: 200px;
    }
    .logo__text {
        font-size: 1.9em;
    }

/* intro */

    .intro__title {
        line-height: 92px;
        font-size: 92px;
        text-shadow: 3px 3px #292a35;
    }

    .intro__subtitle {
        line-height: 21px;
        font-size: 17px;
        text-shadow: 2px 2px #292a35;
    }

    .arrow {
        width: 21px;
        height: 38px;
    }
    .arrow__img {
        width: 14px;
        height: 20px;
    }


/* сompany */

     .сompany {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .сompany::before {
        margin-bottom: 6px;
    }
    .сompany::after {
        margin-top: 8px;
    }

    .сompany__text {
        font-size: 15px;
        line-height: 22px;
    } 

     .about__title {
        line-height: 36px;
        font-size: 27px;
    }

    .about__text {
        font-size: 9px;
        line-height: 15px;
    } 

    .link-about__text {
        font-size: 9px;
        margin: 0;
    }

    .link-about__arrow{
        width: 8px;
        height: 5px;
    }

    .about__link:hover .link-about__text {
        font-size: 11px;
    }

    .about__link:hover .link-about__arrow{
        width: 9px;
        height: 6px;
    }

/* featured */
    .featured {
        margin-bottom: 40px;
    }
    .featured {
        margin-bottom: 5px;
    }

    .featured__text {
        font-size: 16px;
    }

/* footer */

    .footer {
        height: 37px;
    }
    .footer__text {
        font-size: 10px;
    }
    .footer__text > p {
        font-size: 13px;
    }
    .social-footer__item {
        width: 19px;
        height: 19px;
        margin-left: 6px;
    }
}


@media (max-width: 414px) { 

    .logo {
        width: 168px;
    }
    .logo__text {
        font-size: 1.6em;
        margin-left: 8px;
    }

    .intro__title {
        line-height: 76px;
        font-size: 79px;
    }

    .intro__subtitle {
        font-size: 14px;
    }

    .arrow {
        width: 18px;
        height: 31px;
    }

    .arrow__img {
        width: 11px;
        height: 17px;
    }



    .сompany__text {
    font-size: 11px;
    line-height: 18px;
    }
    .сompany::before {
        margin-bottom: 0px;
    }

    .сompany::after {
        margin-top: 3px;
    }

    .about__title {
        line-height: 28px;
        font-size: 20px;
    }

    .about__text {
        font-size: 7px;
        line-height: 11px;
    }

    .link-about__text {
        font-size: 6px;
        margin: 0;
    }

    .link-about__arrow{
        width: 6px;
        height: 3px;
    }

    .about__link:hover .link-about__text {
        font-size: 7px;
    }

    .about__link:hover .link-about__arrow{
        width: 6px;
        height: 3px;
    }

    .featured__text {
        font-size: 12px;
    }


    .footer {
        height: 27px;
    }

    .footer__text {
        font-size: 7px;
    }

    .footer__text > p {
        font-size: 8px;
    }

    .social-footer__item {
        width: 12px;
        height: 16px;
        margin-left: 6px;
    }
}



@media (max-width: 350px) { 

    .header {
        margin: 18px 0 4px 0;
    }
    .logo {
        width: 110px;
    }
    .logo__text {
        font-size: 1em;
        margin-left: 6px;
    }

    .intro__title {
        line-height: 66px;
        font-size: 67px;
    }

    .intro__subtitle {
        font-size: 11px;
    }

    .arrow {
        width: 14px;
        height: 26px;
    }

    .arrow__img {
        width: 8px;
        height: 13px;
    }


    .сompany__text {
        font-size: 9px;
        line-height: 13px;
    }


    .about {
        margin-bottom: 25px;
    }

    .about__title {
        line-height: 25px;
        font-size: 16px;
    }

    .about__text {
        font-size: 5px;
        line-height: 9px;
}

    .featured {
        margin-bottom: 25px;
    }

    .featured__text {
        font-size: 9px;
    }

    .partners__item {
        padding: 2px 7px;
    }

    .footer {
        height: 21px;
    }

    .footer__text {
        font-size: 5px;
    }

    .footer__text > p {
        font-size: 5px;
    }

    .social-footer__item {
        width: 10px;
        height: 10px;
        margin-left: 3px;
    }

}