

body {
font-size: 30px;
}
 
/*
.model {
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  opacity: 0.3;
} */

 .page {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute;
} 

/* .page::before {
    content: '';

    position: absolute;
    top:0;

    width: 100%;
    height: 10px;

    background-color: #7b699a;
} */

.page::after {
    content: '';

    position: absolute;
    bottom:0;

    width: 100%;
    height: 10px;

    background-color: #7b699a;
}

.container {
    position: relative;
    margin: 0 auto;

    width: 78.5%;
    max-width: 1020px;
}

.header::before {
    content: '';

    position: absolute;
    top:0;

    width: 100%;
    height: 10px;

    background-color: #7b699a;
}

.header {
    position: fixed;
    top:0;
    left: 0px;
    right: 0px;

    width: 100%;
    z-index: 20;

    background-color: #ffffff;
}

.header__inner {
    width: 78.5%;
    max-width: 1020px;
    margin: 27px auto 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}


.logo__text {
    margin-left: 15px;
    
    text-transform: uppercase;
    font-family: 'Lucida Calligraphy', sans-serif;
    font-size: 2.6em; /*39px */
    font-weight:500;
    color: #9c91b0;
}

.nav {
    /* position: absolute;
    right: 0;
    top:0;
    top: 50%;
transform: translate(0,-50%); */


    display: block;

    align-items: center; 
    /* margin-bottom: 11px; */
}

.nav__link {
    margin-left: 65px;

    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #9c91b0;
    font-family: 'Segoe UI', sans-serif;
}

.nav__img {
    display: inline-block;
    fill:rgb(156, 145, 176);
    transition: 0.5s;
}

.nav__text {
    display: inline-block;
    margin-left: 2px;
    transition: 0.5s;
}

.nav__link:hover .nav__text {
    color:#231044;
    transition: 0.5s;
}
.nav__link:hover .nav__img {
    fill:#231044;
    transition: 0.5s;
}

.burger{
    display: none;
}

.b1, .b2, .b3 {
    width: 36px;
    height: 5px;
    background-color: #ebd5ff;
    margin: 5px 0;
    transition: 0.3s;
}

.change .b1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .b3 {
    transform: rotate(45deg) translate(-8px, -5px);
}
.change .b2 {opacity: 0;}




/* intro */

.intro{
    position: relative;

    display: flex;
    align-items: center;
    justify-content:center;

    text-align: center;

    /* margin:  0 auto; */
    margin: 125px 0 0 0;
    width: 100%;
    height: 70vh;
    max-height: 485px;

    background-color: #51585e;
}

intro__slaider{
    margin: 0 auto;
    background-color: #fd0707;
    width: 100%;
    height: auto;
    position: relative;
}

intro__item {
    margin: 0 auto;
    background-color: #f014d2;
    position: relative;
}



.intro__img {
    display: block;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    margin: auto;

    width: 100%;
    height: 100%;

        /* Элемент меняет размер так, чтобы заполнить блок 
        и сохранить пропорции: */
    object-fit: cover;
}

.intro__content {

    display: block;
    position: absolute;

    top:50%;
    left:50%;
    transform:translate(-50%, -50%); 


    width: 80%;
    height: auto;

    padding: 0 15px;
    z-index: 10;
}

.intro__title {
    /* font-size: 7.8em;  */
    font-size: 117px;
    line-height: 75px;
    font-weight: 400;
    color: #fbfbfb;  
    text-shadow: 5px 5px #292a35;
    font-family: 'Lucida Calligraphy', sans-serif;
}
 

.intro__subtitle {
    font-size: 31px;
    line-height: 75px;
    font-weight:700;
    font-style: italic;
    color: #ffffff;  
    text-shadow: 5px 5px #292a35;
    font-family: 'Century Gothic', sans-serif;
}





/* arrow  intro */

.arrow {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    width: 35px;
    height: 68px;

    background-color: #7b699a;
    cursor: pointer;
}

.arrow_left {
    left: 0;
}

.arrow_right {
    right: 0;
}

.arrow__img{
    margin: auto;

    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    left:0;

    width: 22px;
    height: 32px;     /* ширина и высота просмотра, а не картинки */
}









/* сompany */

.сompany {
    margin-top: 40px;
    margin-bottom: 32px;

    width: 100%;
}

.сompany::before {
    content: '';

    display: block;

    margin: 0 auto;
    margin-bottom: 18px;

    width: 98%;
    max-width: 1020px;
    height: 2px;

    background-color: #bebebe;
}

.сompany::after {
    content: '';

    display: block;

    margin: 0 auto;
    margin-top: 18px;

    width: 98%;
    max-width: 1020px;
    height: 2px;

    background-color: #bebebe;
}

.сompany__text {
    margin: 0 auto;

    display: block;

    width: 90%;

    text-align: center;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #4a4a4a;  
    font-family: 'Segoe UI', sans-serif;

    text-indent: 1.5em;
}

.company__p {
    display: inline;  
}

.company__p_purpur {
    display: inline;
    color: #7b699a;
    font-weight: 700;
    text-indent: 0.5em;
}

.about {
    width: 100%;
    margin: 0 auto;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 40px;
    padding: 0 28px;
}


.about__img {
    width: 32%;
}

.about__content {
    width: 64%;
}

.about__title {
    font-size: 31px;
    line-height: 75px;
    font-weight: 600;
    color: #505051;  
    font-family: 'Segoe UI', sans-serif;
}

.about__text {
    font-size: 15px;
    line-height: 28px;
    font-weight: 500;
    color: #838383;  
    font-family: 'Segoe UI', sans-serif;
}

.about__link {
    position: absolute;
    display: block;
    bottom: -22px;
    right: 13px;

    margin: 0;

    text-decoration: none;
}

.about__link:hover .link-about__text{
    font-size: 15px;

    transition: 0.3s;
}

.about__link:hover .link-about__arrow{
    width: 13px;
    height: 8px; 

    transition: 0.3s;
}

.link-about__text {
    margin-right: 5px;

    font-size: 13px;
    line-height: 28px;
    font-weight: 500;
    font-style: italic;
    color: #959595;  
    font-family: 'Segoe UI', sans-serif;

    transition: 0.3s;
}

.link-about__arrow {
   width: 11px;
   height: 7px; 
}

.cooperation{
    width: 100%;
    margin-bottom: 50px;
}

.featured {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    width: 100%;
}

.featured__text {
    display: block;
    font-size: 23px;
    line-height: 36px;
    font-weight: 400;
    color: #000000;  
    font-family: 'Segoe UI', sans-serif;
    white-space: nowrap;
}

.featured__text_bold {
    display: inline;
    font-weight: 700;
}

.featured__border{
    width: 68%;
    position: relative;
}

.border-featured__inner{
    position: absolute;
    right: 0;

    bottom: 50%;
    /* transform: translate3d(0,-50%,0); */
    width: 100%;

    border-top: 1px #e1e1e1 dotted;
}

.border-featured__inner::before {
    content: '';
    display: block;

    position: absolute;
    right: 0;
    top: 1px;

    width: 100%;

    border-top: 1px #e1e1e1 dotted;
}

.border-featured__inner::after {
    content: '';
    display: block;

    position: absolute;
    right: 0;
    bottom: 2px;

    width: 100%;
    
    border-top: 1px #e1e1e1 dotted;
}

.partners{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.partners__item {
    display: flex;
    align-items: center;
    justify-content:center;

    width: 25%;
    padding: 15px 10px;
    background-color: #f4f4f4;
    border: 1px #dddddd solid;
    border-right: 0px;
    transition: 1s;
}

.partners__item:last-child{
    border-right: 1px #dddddd solid; 
}

.partners__item:hover {
    box-shadow: inset 0px 0px 19px #c5c5c5;
    transition: 0.5s;
}


.footer {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    width: 100%;
    height: 80px;

    background-color: #e6e6e6;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    width: 78.5%;
    max-width: 1020px;

}

.footer__text {
    display: block;

    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
    color: #464444;
    line-height: 36px; 
}

.footer__text>p {
    display: inline-block;
    font-size: 16px;
}

.footer__social {
    display: flex;

}

.social-footer__item{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    z-index: 10;
}


